@page
@model AccidenteTransito.App.Frontend.Pages.DetalleVehiculoModel
@{
    ViewData["Title"] = "Detalle de Vehículo";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            @if(Model.Vehiculo!=null)
            {
            <h2 style="color: #19284C;">Detalle de Vehículo: @Model.Vehiculo.Placa</h2>
            <ul class="list-group">
                <li class="list-group-item">ID:@Model.Vehiculo.Id</li>
                <li class="list-group-item">Tipo de Vehículo: @Model.Vehiculo.TipoVehiculo</li>
                <li class="list-group-item">Tipo de Servicio: @Model.Vehiculo.TipoServicio</li>
                <li class="list-group-item">Placa: @Model.Vehiculo.Placa</li>
                <li class="list-group-item">Marca: @Model.Vehiculo.Marca</li>
                <li class="list-group-item">Modelo: @Model.Vehiculo.Modelo</li>
                <li class="list-group-item">Color: @Model.Vehiculo.Color</li>
                <li class="list-group-item">Año: @Model.Vehiculo.Anio</li>
                <li class="list-group-item">SOAT: @Model.Vehiculo.Soat</li>
            </ul>
            }
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            <a asp-page="Vehiculo" class="btn btn-success" style="background-color: #19284C; color: white">Volver</a>
        </div>
    </div>
</div>