@page
@model AccidenteTransito.App.Frontend.Pages.DetalleModel
@{
    ViewData["Title"] = "Detalle de Accidente";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            @if(Model.Accidente!=null)
            {            
            <h2 style="color: #19284C;">Detalle de Accidente: @Model.Accidente.Id</h2>
            <ul class="list-group">
                <li class="list-group-item">ID: @Model.Accidente.Id</li>
                <li class="list-group-item">Dirección: @Model.Accidente.Direccion</li>
                <li class="list-group-item">Latitud: @Model.Accidente.Latitud</li>
                <li class="list-group-item">Longitud:@Model.Accidente.Longitud</li>
                <li class="list-group-item">Barrio: @Model.Accidente.Barrio</li>
                <li class="list-group-item">Fecha: @Model.Accidente.Fecha</li>
                <li class="list-group-item">Hora: @Model.Accidente.Hora</li>
                <li class="list-group-item">Tipo de Accidente: @Model.Accidente.TipoAccidente</li>
                <li class="list-group-item">Descripcion: @Model.Accidente.Descripcion</li>
                <!--<li class="list-group-item">Usuario: Html.DisplayFor(m => m.Accidente.Involucrado.Nombre)</li>
                <li class="list-group-item">Vehículo: Html.DisplayFor(m => m.Accidente.Vehiculo.Placa)</li>
                <li class="list-group-item">Descripción: Html.DisplayFor(m => m.Accidente.Descripcion)</li>-->
            </ul>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <a asp-page="Accidente" class="btn btn-success" style="background-color: #19284C; color: white">Volver</a>
        </div>
    </div>
</div>